<div class="overflow-auto">
    <ul
        class="inline-flex flex-row"
    >
        {% for sub in subtitles %}
            <li
                class="flex flex-row"
            >
                {% if loop.index0 != 0 %}
                    <div class="divider divider-horizontal"></div>
                {% endif %}
                <div
                    class="py-8"
                    style="width: {{ (sub.end - sub.start) * 100 }}px"
                >
                    <img
                        class="h-full w-auto object-cover object-left"
                        src="/thumbnail/{{ sub.id }}?resolution=200"
                    />
                    <span>{{ sub.text }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>