<closable-dialog
    {% if subs_data|length > 0 %}
        open
    {% endif %}
>
    <div
        id="settings"
        class="w-full overflow-auto flex md:flex-1"
    >
        {% with subs_data=subs_data, settings=settings, errs=errs %}
            {% include "settings.html" %}
        {% endwith %}
    </div>
    <div class="divider"></div>
    <div
        id="gif-view"
        class="relative w-full min-h-[180px] flex md:flex-1 justify-center items-center overflow-auto"
    >
        {% with %}
            {% include "gif_view.html" %}
        {% endwith %}
    </div>
</closable-dialog>