<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ show_name }} GIF generator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/tailwind.css'>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script src="/public/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body hx-boost="true" hx-ext="response-targets">
    <div class="navbar bg-base-100 shadow-sm flex flex-col md:flex-row">
        <h1 class="hidden md:flex flex-1 text-3xl">
            {{ show_name }} GIF generator
        </h1>
        <div
            id="search"
            class="w-full flex flex-1 flex-row justify-center md:p-8"
        >
            <label class="input">
                {% include "search_icon.html" %}
                <input
                    id="search"
                    class="grow"
                    name="q"
                    type="search"
                    placeholder="Search for a subtitle..."
                    value="{{ request.args.get('q') or '' }}"
                    hx-get="/"
                    hx-trigger="search, keyup delay:200ms changed"
                    hx-target="main"
                    hx-replace-url="true"
                    hx-vals="js:{...(() => { const video = new URLSearchParams(window.location.search).get('video'); return video !== null ? { video } : {}; })()}"
                    style="width: 100%;"
                />
            </label>
        </div>
        <div class="flex w-full flex-1">
        </div>
    </div>
    <main class="md:p-8">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="hidden md:flex footer flex-row justify-center items-center gap-2 w-full h-full sm:footer-horizontal bg-base-200 text-base-content">
        All rights to "{{ show_name }}" are reserved by their respective owners. Made using <a class="btn btn-link flex flex-row items-center p-0" href="https://github.com/Niboor/subclipper">Subclipper</a>
    </footer>
    <div class="toast toast-start">
    </div>
</body>
</html>
