{% extends "layout.html" %}
{% block content %}
    <div class="content">
        <div id="search">
            <input
                id="search"
                name="q"
                type="search"
                placeholder="Search for a subtitle..."
                value="{{ request.args.get('q') or '' }}"
                hx-get="/"
                hx-trigger="search, keyup delay:200ms changed"
                hx-target="#sublist"
                hx-replace-url="true"
                hx-vals="js:{video: new URLSearchParams(window.location.search).get('video')}"
                style="width: 100%;"
            />
        </div>
        <div id="sublist">
            {% with videos=videos, subs=subs, pages=pages %}
                {% include "sublist.html" %}
            {% endwith %}
        </div>
        <div id="below">
            <div id="settings">
                {% with sub=None %}
                    {% include "settings.html" %}
                {% endwith %}
            </div>
            <div id="gif_preview">
                {% with url=None %}
                    {% include "gif_preview.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}