{% if sub is none %}
    <h2>
        Please select a subtitle...
    </h2>
{% else %}
    <form
        id="gif_settings_form"
        hx-get="/gif_view"
        hx-vals='{"episode": "{{ sub.episode }}"}'
        hx-target="#gif-view"
    >
        <div>
            <label for="text">Subs</label>
            <input
                name="text"
                type="text"
                value="{{ sub.text }}"
                style="width:90%;"
            />
        </div>
        <div>
            <span>
                <label for="start">Start time</label>
                <input
                    name="start"
                    type="number"
                    step="any"
                    value="{{ sub.start }}"
                />
                &nbsp;
            </span>
            <span>
                <label for="end">End time</label>
                <input
                    name="end"
                    type="number"
                    step="any"
                    value="{{ sub.end }}"
                />
            </span>
        </div>
        <div>
            <span>
                <label for="resolution">Resolution</label>
                <input
                    name="resolution"
                    type="number"
                    value="{{ sub.resolution }}"
                />
                &nbsp;
            </span>
            <span>
                <label for="font_size">Font size</label>
                <input
                    name="font_size"
                    type="number"
                    value="{{ sub.font_size }}"
                />
            </span>
        </div>
        <div>
            <span>
                <label for="crop">Square GIF (crop)</label>
                <input
                    name="crop"
                    type="checkbox"
                    value="{{ 'true' if sub.crop else 'false' }}"
                />
                &nbsp;
            </span>
            <span>
                <label for="boomerang">Boomerang GIF (loop)</label>
                <input
                    name="boomerang"
                    type="checkbox"
                    value="{{ 'true' if sub.boomerang else 'false' }}"
                />
                &nbsp;
            </span>
            <span>
                <label for="colour">Better colours</label>
                <input
                    name="colour"
                    type="checkbox"
                    value="{{ 'true' if sub.colour else 'false' }}"
                />
            </span>
        </div>
        <div>
            <label for="text">Caption</label>
            <input
                name="caption"
                type="text"
                value="{{ sub.caption }}"
                style="width:90%;"
            />
        </div>
        <div>
            <input
                type="submit"
                value="Generate GIF"
            />
        </div>
    </form>
{% endif %}
