{% if sub is none %}
    <h2 class="text-lg text-base-content font-semibold w-full h-full flex flex-col justify-center items-center">
        Select a subtitle from the list and tweak it here...
    </h2>
{% else %}
    <form
        class="w-full flex flex-col justify-between gap-2"
        hx-get="/gif_view"
        hx-vals='{"episode": "{{ sub.episode }}"}'
        hx-target="#gif-view"
    >
        <fieldset>
            <legend class="fieldset-legend">Subs</legend>
            <input
                name="text"
                type="text"
                class="input"
                value="{{ sub.text }}"
                style="width:90%;"
            />
        </fieldset>
        <div class="flex flex-row gap-4">
            <fieldset>
                <legend class="fieldset-legend">Start time</legend>
                <input
                    class="input"
                    name="start"
                    type="number"
                    step="any"
                    value="{{ sub.start }}"
                />
            </fieldset>
            <fieldset>
                <legend class="fieldset-legend">End time</legend>
                <input
                    class="input"
                    name="end"
                    type="number"
                    step="any"
                    value="{{ sub.end }}"
                />
            </fieldset>
        </div>
        <div class="flex flex-row gap-4">
            <fieldset>
                <legend class="fieldset-legend">Resolution</legend>
                <input
                    class="input"
                    name="resolution"
                    type="number"
                    value="{{ sub.resolution }}"
                />
            </fieldset>
            <fieldset>
                <legend class="fieldset-legend">Font size</legend>
                <input
                    class="input"
                    name="font_size"
                    type="number"
                    value="{{ sub.font_size }}"
                />
            </fieldset>
        </div>
        <div class="flex flex-row gap-4">
            <fieldset>
                <legend class="fieldset-legend">Square GIF (crop)</legend>
                <input
                    class="checkbox"
                    name="crop"
                    type="checkbox"
                    value="{{ 'true' if sub.crop else 'false' }}"
                />
            </fieldset>
            <fieldset>
                <legend class="fieldset-legend">Boomerang GIF (loop)</legend>
                <input
                    class="checkbox"
                    name="boomerang"
                    type="checkbox"
                    value="{{ 'true' if sub.boomerang else 'false' }}"
                />
            </fieldset>
            <fieldset>
                <legend class="fieldset-legend">Better colours</legend>
                <input
                    class="checkbox"
                    name="colour"
                    type="checkbox"
                    value="{{ 'true' if sub.colour else 'false' }}"
                />
            </fieldset>
        </div>
        <fieldset>
            <legend class="fieldset-legend">Caption</legend>
            <input
                class="input"
                name="caption"
                type="text"
                value="{{ sub.caption }}"
                style="width:90%;"
            />
        </fieldset>
        <button
            class="btn btn-primary"
            type="submit"
        >
            Generate GIF
        </button>
    </form>
{% endif %}