<div class="tab-header">
    <div
        name="video"
        value=""
        class="tab-header-button {{ 'tab-header-button-selected' if request.args.get('video') is none else '' }}"
        hx-get="/"
        hx-trigger="click"
        hx-target="#sublist"
        hx-replace-url="true"
        hx-include="[name='q']"
    >
        All videos
    </div>
    {% for video in videos %}
        <div
            name="video"
            value="{{ video.id }}"
            class="tab-header-button {{ 'tab-header-button-selected' if request.args.get('video') == video.id|string else '' }}"
            hx-get="/?video={{ video['id'] }}"
            hx-trigger="click"
            hx-target="#sublist"
            hx-replace-url="true"
            hx-include="[name='q']"
        >
            {{ video.title }}
        </div>
    {% endfor %}
</div>
<div class="clickable-list-container">
    {% if subs|length == 0 %}
        <div class="empty-list">
            No results found
        </div>
    {% else %}
        <ul class="clickable-list">
            {% for sub in subs %}
                <li
                    class="clickable-list-item"
                    hx-get="/sub_form/{{ sub['video_id'] }}/{{ sub['id'] }}"
                    hx-target="#settings"
                >
                    <b><i>{{ videos[sub.video_id].title }}</b></i>
                    {{ sub.text }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="pagination-footer">
    {% for page in pages %}
        <div
            class="pagination-button {{ 'pagination-button-selected' if request.args.get('page') == loop.index0|string or (request.args.get('page') is none and loop.first) else '' }}"
            hx-get="/?page={{ loop.index0 }}"
            hx-target="#sublist"
            hx-replace-url="true"
            hx-ext="preserve-params"
        >
            {{ loop.index }}
        </div>
    {% endfor %}
</div>
